<footer class="site-footer h-card">
  <data class="u-url" href="{{ get_url(path="/") }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
      {%- if config.generate_feed %}
        <p class="feed-subscribe">
          <a href="{{ get_url(path=config.feed_filename) }}">
            <svg class="svg-icon orange">
              <use xlink:href="{{ get_url(path="assets/minima-social-icons.svg#rss") }}"></use>
            </svg><span>Subscribe</span>
          </a>
        </p>
      {%- endif %}
      {%- if config.extra.author %}
        <ul class="contact-list">
          {% if config.extra.author.name -%}
            <li class="p-name">{{ config.extra.author.name | escape }}</li>
          {% endif -%}
          {% if config.extra.author.email -%}
            <li><a class="u-email" href="mailto:{{ config.extra.author.email }}">{{ config.extra.author.email }}</a></li>
          {%- endif %}
        </ul>
      {%- endif %}
      </div>
      <div class="footer-col">
        <p>{{ config.description | escape }}</p>
      </div>
    </div>

    <div class="social-links">
      {%- include "social.html" -%}
    </div>

  </div>

</footer>
