<div class="home">
  {% set pages = paginator.pages | default(value = section.pages) %}

  {%- if pages -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- set date_format = config.extra.date_format | default(value="%b %-d, %Y") -%}
      {%- for page in pages -%}
      <li>
        <span class="post-meta">{{ page.date | date(format=date_format) }}</span>
        <h3>
          <a class="post-link" href="{{ page.permalink }}">
            {% if page.title %}
              {{ page.title }}
            {% else %}
              {{ page.slug | replace(from="-", to=" ") | title }}
            {% endif %}
          </a>
        </h3>

        {%- if config.extra.show_summary -%}
          {{ page.summary | safe }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {% if paginator %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous %}
          <li><a href="{{ paginator.previous }}" class="previous-page">Previous</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.current_index }}</div></li>
        {%- if paginator.next %}
          <li><a href="{{ paginator.next }}" class="next-page">Next</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}
</div>